* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 40px;
  cursor: pointer;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  color: #7932d3;
  transition: color 1s ease-in-out;
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
  color: #888;
  line-height: 40px;
  transition: color 1s ease-in-out;
}

.logo:hover .logo-icon {
  color: #a70000;
}

.logo:hover .logo-text {
  color: #ff1000;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

.buttons .btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.buttons .btn.signin {
  background-color: #7932d3;
}

.buttons .btn.signin:hover {
  color: #c70000;
  background-color: #fff;
  border: 1px solid #c70000;
}

.buttons .btn.signup {
  color: #7932d3;
  background-color: #fff;
  border: 1px solid #7932d3;
}

.buttons .btn.signup:hover {
  color: #fff;
  background-color: #c70000;
  border: 1px solid #c70000;
}

.gallery {
  height: calc(100vh - 80px);
  background-image: url("img/cat.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}
